* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.left-panel, .right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-panel {
    position: relative;
    background-color: #e3efff;
    padding: 20px;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 1; */
}

.caption {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.caption h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.right-panel {
    flex-direction: column; /* for the forgot password screen */
    background-color: white;
    padding: 30px;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

h2 {
    color: green;
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    color: brown;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: black;
    font-size: 1rem;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: green;
}


button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: orange;
}

.copyright {
    margin-top: 20px;
    font-size: 0.9rem;
    color: green;
}


@media (max-width: 768px) {
    .left-panel {
        display: none;
    }
    .container {
        height: 100%;
    }
  } 