
.login-box {
    width: 100%;
    max-width: 425px;
    text-align: center;
    padding: 25px;
    background: #f0f4f8;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 20px;
    color: brown;
    font-size: 1rem;
    font-weight: bold;
}

.p1 {
    color: green;
}

.form {
    width: 100%;
    max-width: 425px;
}

.form label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-size: 1rem;
}

.back-to-login {
    display: inline-block;
    margin-top: 20px;
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

.back-to-login:hover {
    text-decoration: underline;
}

footer {
    margin-top: 30px;
    font-size: 1.1rem;
    color: green;
}