
.remember-forgot {
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
}
.forgot-password {
    display: flex;
    margin-bottom: 30px;
}

.remember-forgot input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.forgot-password a {
    margin-left: auto;
    color: peru;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.signup {
    margin-top: 20px;
}

.signup a {
    color: peru;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}